@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
	background-color: #FFFFFF;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

#api_status {
	width: 40px;
	height: 40px;
	margin: 16px 15px;
	background-color: #CCCCCC;
	float: right;
	border-radius: 50%;
}

.available {
	background-color: #ff545f !IMPORTANT;
}
